<div>
    <style scoped>
        ul li {
            display: inline-block;
        }
    </style>
    <ul>
        <li for(i from 0 to data.pages -1)>
            <a href="/admin/posts?page=${i}&limit=${data.limit}">
                <span>${i+1}</span>
            </a>
        </li>
    </ul>
</div>