<div>
    <style scoped>
        ul {
            text-align: center;
        }
        ul li {
            font-size: 1.2em;
            display: inline-block;
            padding: 8px;
            margin-left: 2px;
            border: solid 1px;
        }

    </style>
    <ul>
        <li for(i from 0 to data.pages -1)>
            <a href="/admin/posts?page=${i}&limit=${data.limit}">
                <span>${i+1}</span>
            </a>
        </li>
    </ul>
</div>