
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
</head>
<body class="container">
    <include('../header.marko') title="Not found"/>
    <p>Page not found</p>
    <a href="/posts">Back</a>
    <include('../footer.marko')/>
</body>
</html>