<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
</head>
<body class="container">

    <include('../../base/views/header.marko') title="New POST"/>

    <form action="/post/save/${data.post._id}" method="POST">

        <div class="form-group">
            <label for="slug">Slug</label>
            <input id="slug" name="slug" class="form-control" autofocus value="${data.post.slug}">
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" class="form-control" value="${data.post.title}">
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea style="height: 400px" id="content" name="content" class="form-control">${data.post.content}</textarea>
        </div>

        <div class="form-group">
            <label for="private">Private</label>
            <input if(data.post.private) id="private" type="checkbox" name="private" checked>
            <input else id="private" type="checkbox" name="private">
        </div>

        <input type="submit" class="btn btn-default">
    </form>
</body>
</html>