<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body class="container">
    <include('../../base/views/header.marko') title="Post doesn't exists!"/>
    <p>Post doesn't exists!</p>
    <a href="/posts">Back</a>
    <include('../../base/views/footer.marko')/>
</body>
</html>