<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body class="container">

    <include('../../base/views/header.marko') title="POSTS"/>

    <div if(data.messages)>
    <include('../../base/views/messages.marko') messages="${data.messages}"/>
    </div>

    <table class="table table-hover">
        <tr>
            <th>Post</th>
            <th>Ações</th>
        </tr>
        <tr for(post in data.posts)>
            <td>
                <p>${post.title}</p>
                <p>/${post.slug}</p>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-1">
                        <a class="btn btn-default" href="/admin/post/form/edit?_id=${post._id}">Edit</a>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-default" href="/post/${post.slug}">View</a>
                    </div>
                    <form class="col-md-1" action="/admin/post/remove" method="POST">
                        <input type="hidden" name="_id" value="${post._id}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-default" type="submit">Remove</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <include('../../base/views/paginator.marko') pages="${data.pages}" limit="${data.limit}" currentPage="${data.currentPage}"/>
    <form action="/admin/post/form/add">
        <button type="submit" class="btn btn-primary">New POST</button>
    </form>
    <include('../../base/views/footer.marko')/>
</body>
</html>