<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
    	p {
    		font-size: 18px;
    	}
		.container {
    		width: 75%;
    	}    	
    </style>
</head>
<body class="container">

    <include('../../base/views/header.marko') title="${data.post.title}"/>

    <p class="text-center">
        Postado no dia ${data.post.publishedIn}
    </p>
    <div>$!{data.post.markedContent}</div>

    <include('../../base/views/footer.marko')/>
    <script src="/bundle.js"></script>
</body>
</html>